<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Travel Offers</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" routerLinkActive="active" routerLink="search" href="#">Overview</a>
        <a class="nav-link" routerLinkActive="active" routerLink="trips" href="#">Trips</a>
        <a class="nav-link" routerLinkActive="active" routerLink="booking" href="#">Booking</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <!--<city-list></city-list>-->
    <router-outlet></router-outlet>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Travel Offers&copy; by <a href="https://fvogel.net/">birdwellow</a>.</p>
    </div>
  </footer>
</div>
